<main>
    <h2>Home</h2>
    {{#each books}}
    <div class="book">
        <h3>
            Titulo: {{this.nome}}</h3>
            <p>Quantidade de página: {{this.pageqty}}</p>

        <div class="buttons">
            <a href="/book/{{this.id}}" class="mais">Ver mais</a>
            <a href="/edit/{{this.id}}" class="editar">Editar</a>
            <form action="/delete/{{this.id}}" method="POST">
                <input type="hidden" name="id" value="{{this.id}}">
                <button class="excluir">Excluir</button>
            </form>
        </div>

    </div>
    {{/each}}
</main>